.aboutme-image{
  border: 1px solid red;
    width: 100%;
    height: 100vh;
    position: relative;
img{
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.image-content{
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  h1{
    font-size: 72px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
  p{
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}
}